<div class="p-3 px-5">
  <h2 class="text-center fw-bold" style="color: white">DANH SÁCH SẢN PHẨM <i class="fa-brands fa-product-hunt"></i></h2>

  <nav class="navbar navbar-expand-lg py-0 my-0">
    <div class="container-fluid">
      <a routerLink="/create">
        <button class="btn btn-primary">
                      <span class="fa-solid "></span>
          <span class="text-light">Thêm Mới Khách Hàng</span>
        </button>
      </a>
      <div class="d-flex my-2" role="search">
        <input class="form-control me-2" type="text" placeholder="Nhập tên sản phẩm" aria-label="Search"
               #name>

      <button class="btn btn-light btn-outline-warning" (click)="resetSearchInput()">Reset<i
        class="fa-solid fa-rotate"></i></button>
      <button class="btn btn-light btn-outline-success " (click)="searchName(name.value)">Search<i
        class="fa-solid fa-magnifying-glass"></i></button>


    </div>
    </div>
  </nav>

  <table class="table table-light table-striped table-bordered" id="productTable">
    <thead>
    <tr class="table-dark text-light">
      <th class="text-center">STT</th>
      <th class="text-center">Tên sản phẩm</th>
      <th class="text-center">giá</th>
      <th class="text-center">Loại</th>
      <th class="text-center">Sửa</th>
      <th class="text-center">Xóa</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of productList | paginate: { itemsPerPage: count, currentPage: p }; index as i">
      <td class="text-center">{{i+1}}</td>
      <td>{{item.name|titlecase}}</td>
      <td>{{item.price}}</td>
      <td>{{item.productType.productTypename}}</td>
      <td class="text-center">
        <a routerLink="/edit/{{item.id}}">
          <button class="btn btn-success">
            <i class="fa-solid fa-pen-to-square"></i></button>
        </a>
      </td>

      <td class="text-center">
        <button class="btn btn-danger" (click)="deleteProduct(item.id,item.name)">
          <i class="fa-solid fa-person-circle-minus"></i></button>
      </td>

    </tr>
    </tbody>
  </table>
   <div class="text-center" style="color: mediumspringgreen">
     <pagination-controls (pageChange)="p = $event"></pagination-controls>
   </div>

</div>
